.auth {
  height: 100vh;
}
.name {
  padding-top: 50px;
  font-weight: bold !important;
}
.loginForm {
  justify-content: center;
  min-height: 90vh;
}
.buttonBlock {
  width: 100%;
}
.rightBack {
  background: #f5f5f5 !important;
}
.loginBackground {
  justify-content: center;
  min-height: 30vh;
  padding: 50px;
}
